language: python
python:
  - "3.7"
install:
  - pip install -r requirements.txt
script:
  - pytest
deploy:
  provider: heroku
  api_key:
    secure: n/LRwKHi9sAsJXxB973yHLsL1QrKL5x230QHRbCnEra0ONOOi5Ew+JLcYyXbdc/sLlCvqi/40XDCDZ+ZjoLrsvDCZSu7/3uwtIa1DbGipkhdT8+lAVfPvSfzPXmEtaxwJlpAZoghD/8hOz8WOug0f3inNxnAxQ8eEhgNEcQZP8NtE79Fka7c0m1lSOIrocj2Z/UpwV3Nhv3IHA0ZJsVjJ1aIUhH/stEUV0B2jpGFu3D+DseLThSEgfvEexnoFaJeQrmSoPWqTQnwNT7KtgykaT5KkjuFsDvGzFeSE5ey7HHohQlR/nMRpu4anP49WwI4mX3SqgeMl6IdzsDch9mkWZiDtD1WQjN99alqszHLA2dEsiQGYO8o5w+BXMLhYumTAIHjRbh5nivAcjgQKcCFSe0hLsdnC4DglYBtP7o+rfal//nhs5DlkbotxbSTfzHPu7m9lq9KbeWCLaxUxzHgaEbdGP7203UNrogTKGuX4GadIBjS5yPSyHcFaQRLCQEaPjC9I+GNyrdt8FggCJ5DucqUrIf4thz9laXYblwcepEJMsGkth1geoDCOuHh9OulhLCmEsmZ8xgNdti7tyhrCfxY5Y9Djt5A9VN/TB6nkmEJ5Ww4gQ5v1/RjMsnsSHuiW8ajJA5QvBjXKjOWseEr6nMVIBOIBakLV0FDu7W3Z10=
